{% extends 'main/layout.html' %}

{% block title %}Поиск - {{ searchName }}{% endblock %}

{% block content %}

    {% for e in a %}
        {{ e.size }}
    {% endfor %}

    <div class="container">
        <div class="sub-header">
            <h1>Результаты поиска "{{ searchName }}"</h1>
            <p>Результатов: {{ products|length }} (показано {{ products|length }})</p>
        </div>

        <div class="filter-products-container">
            <div class="filter-column">
                <div class="filter-section">
                    <h1 style="font-size: 24px">Цена</h1>
                    <div class="price-range">
                        <input class="price-input" placeholder="от 0" type="text" maxlength="6">
                        <input class="price-input" placeholder="до 20000" type="text" maxlength="6">
                    </div>
                </div>
                <div class="filter-section">
                    <h1 style="font-size: 24px">Категории</h1>
                    <ul class="filter-list">
                        {% for e in categories %}
                            <li class="filter-item">
                                <label>
                                    <input class="cardCheckBox" name="category" type="checkbox" value="{{ e.0 }}">
                                    <span class="checkmark"></span>
                                    <div class="item-text" title="{{ e.0 }}" data-count="{{ e.1 }}">{{ e.0 }}</div>
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="filter-section">
                    <h1 style="font-size: 24px">Бренды</h1>
                    <ul class="filter-list">
                        {% for e in brands %}
                            <li class="filter-item">
                                <label for="Filter{{ e.0 }}">
                                    <input class="cardCheckBox" name="brand" type="checkbox" value="{{ e.0 }}">
                                    <span class="checkmark"></span>
                                    <div class="item-text" title="{{ e.0 }}" data-count="{{ e.1 }}">{{ e.0 }}</div>
                                </label>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="filter-section"></div>
            </div>

            <div class="product-panel">
                <div class="download-table">
                    <a href="{{ file }}" download>Ссылка</a>
                </div>

                <table class="product-table">
                    <tr class="product-row table-header">
                        <th class="product-info cell-name">Название</th>
                        <th class="product-info cell-price">Цена</th>
                        <th class="product-info cell-rating">Рейтинг</th>
                        <th class="product-info cell-review">Количество отзывов</th>
                        <th class="product-info cell-link">Ссылка</th>
                    </tr>

                    {% for dict_item in products %}
                        <tr class="product-row">
                            <td class="product-info cell-name" title="{{ dict_item.name }}">{{ dict_item.name }}</td>
                            <td class="product-info cell-price">₽{{ dict_item.price }}</td>
                            <td class="product-info cell-rating">{{ dict_item.rating }} / 5</td>
                            <td class="product-info cell-review">{{ dict_item.reviews }}</td>
                            <td class="product-info cell-link">
                                <a href="{{ dict_item.link }}" target="_blank">Перейти по ссылке</a>
                                <div class="tooltip">
                                    <button class="fas fa-copy fa-lg" onclick="copyText(this)"
                                            value="{{ dict_item.link }}">
                                        <span class="tooltip-text" id="myTooltip{{ dict_item.index }}">Скопировать ссылку</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}

