body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    height: 100%;
    margin: 0 auto;
    max-width: 1430px;
}

.clearfix {
    display: block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
.header {
    margin-bottom: 30px;
    width: 100%;
    height: 60px;
    z-index: 5;
    box-shadow: 5px 0 5px #000000;
    background: #fff;
}

.header-block {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    height: 60px;
}

.header_fixed {
    position: fixed;
    left: 0;
    top: 0;
}

.header__logo {
    float: left;
    width: 170px;
    height: 100%;
}

.header__logo img {
    float: left;
    padding: 10px 0 10px 10px;
    width: 50px;
}

.header__logo p {
    float: right;
    margin: 12px 0;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

.header__search {
    float: right;
    width: 500px;
    height: 100%;
}

form {
    position: relative;
    width: 400px;
    margin: 10px 0 10px auto;
}

.header__search input {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border: 3px solid #000;
    border-radius: 15px;
    outline: none;
    font-size: 17px;
}

input:focus::placeholder {
    color: transparent;
}

.header__search button, .header__search button:disabled {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: none;
    border-collapse: collapse;
    background: none;
    cursor: pointer;
}

/* Page */
.page {
    height: auto;
    padding-bottom: 30px;
}

.filter-products-container {
    margin: 10px 0;
    width: 100%;
}

.sub-header {
    height: 80px;
}

.sub-header h1 {
    font-size: 24px;
}

.sub-header p {
    font-size: 14px;
    color: #858585;
}

/* Product */
.product-panel {
    float: right;
    padding: 10px;
    min-height: 400px;
    height: auto;
    width: 83%;
}

.table-header {
    background: #A3D0C3;
    text-align: center;
    font-weight: bold;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-row {
    height: 40px;
    line-height: 25px;
    overflow: hidden;
}

.cell-name {
    width: 45%;
}

.cell-price, .cell-rating, .cell-review {
    width: 10%;
    text-align: center;
}

.cell-link {
    vertical-align: middle;
    width: 25%;
}

.cell-link a {
    color: #464646;
    text-decoration: none;
}

.cell-link a:hover {
    color: #90eed6;
}

.product-info {
    padding: 10px;
    height: 50px;
    border: 1px solid #b7b7b7;
    border-radius: 10px;
    font-size: 18px;
}

/* Tooltip */
.tooltip {
    position: absolute;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.tooltip button {
    background: none;
    border: none;
    cursor: pointer;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 145px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -75px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.1s;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

/* Filter */
.filter-column {
    float: left;
    padding: 10px 0;
    min-height: 400px;
    height: auto;
    width: 17%;
}

.filter-section {
    padding-bottom: 10px;
}

.filter-list {
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
}

.filter-item {
    margin-bottom: 10px;
    height: 20px;
    list-style: none;
}

.filter-item label {
    position: relative;
    display: block;
    height: 100%;
    cursor: pointer;
}

.filter-item input {
    cursor: pointer;
}

.item-text {
    position: relative;
    top: -18px;
    left: 25px;
    margin-right: 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-item input {
    visibility: hidden;
}

/* Checkmark */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
    border: 1px solid rgba(133, 133, 133, 0.25);
    border-radius: 20%;
  background-color: #fff;
}

.filter-item label:hover input ~ .checkmark {
  background-color: rgba(204, 204, 204, 0.5);
}

.filter-item input:checked ~ .checkmark {
  background-color: #A3D0C3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.filter-item input:checked ~ .checkmark:after {
  display: block;
}

.filter-item .checkmark:after {
  left: 7px;
  top: 2px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* No-results page */
.no-results {
    height: 300px;
    width: 70%;
    margin: 100px auto;
}

.header__no-result {
    font-size: 26px;
    line-height: 35px;
    text-align: center;
}

.header__no-result::after {
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    margin: 20px auto;

    background-color: #b9b9b9;
}

.text__no-result {
    text-align: center;
}

/* Footer */
.footer {
    width: 100%;
    height: 80px;
    background: black;
}

.footer-main {
    position: absolute;
    bottom: 0;
}